<br>
  <div class="navbar navbar-default navbar-static-bottom" style='border-radius:5px;'>
    <br>
    <p style='text-align: center; color: #416994'>Copyright © 2015 宜興資訊 <br>(03)657-1677 竹北市光明一路175號4F</p>
</div>
