<h1>&nbsp;&nbsp;&nbsp;&nbsp;<i class='fa fa-info-circle'></i>&nbsp;旅遊資訊</h1>
<div class="well sidebar-nav">
    <ul class="nav nav-list">
    <% @infos.each do |info| %>
        <li>
          <%# link_to "<span style='text-align:center;'>#{info.name[0,9]}</span><br> #{image_tag(info.photo.small)}".html_safe, class: 'thumbnail' %>
          <%= link_to "<div class='pic_cell thumbnail' style='width:100%;background:transparent url(#{info.photo.small}) no-repeat right top;background-size: cover;'><div class='pic_title'><h4>&nbsp;&nbsp;#{info.name[0,9]}</h4></div></div>".html_safe, info %>
        </li>
    <% end %>
    </ul>
</div>
